.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-height: 36px;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
}

.testing {
    font-size: 1.6rem;
    font-weight: 700;
    min-height: 36px;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
}
